jax[cuda12] < 0.7
tfp-nightly[jax]
absl-py
#dopamine-rl
#git+https://github.com/hooved/dopamine.git@bec5f4e108b0572e58fc1af73136e978237c8463#egg=dopamine-rl
#flax
#optax
#chex
#numpy
#matplotlib
#wandb

## RL envs
#gymnasium[atari,accept-rom-license]
#ale-py

## Optional (choose one NN stack for agents)
#dm-haiku

## Debugging / utils
#ipdb
#etils


#absl-py
#atari-py
#jax[cuda12]
#jaxlib >= 0.3.14
#ale-py
#flax >= 0.6.3
#gym[atari,accept-rom-license]<=0.25.2
#dopamine-rl == 4.0.5
#numpy
#gin-config
#tensorflow
#tensorflow-estimator
#tbp-nightly
#keras
#ipdb
#wandb
#pyglet == 1.4.11
#matplotlib
#dm-haiku
#protobuf == 3.19.1
#importlib-metadata == 4.11.3
#importlib-resources == 5.7.1
#etils
